body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #b9b9b9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 40px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #be3f04;
}

#result {
    margin-top: 20px;
}

.pdf-comparison-result {
    font-family: Arial, sans-serif;
}

.pdf-section {
    margin-top: 20px;
}

.highlight-pdf1 {
    background-color: #f8d7da;
    padding: 2px 4px;
    border-radius: 3px;
    color: #721c24;
}

.highlight-pdf2 {
    background-color: #d4edda;
    padding: 2px 4px;
    border-radius: 3px;
    color: #155724;
}

.message-equal {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
